{% extends "base.html" %}
{% load static %}

{% block menu %}
<!--==========================
    Menu
============================-->
<nav id="nav-menu-container">
    <ul class="nav-menu">
        <li><a href="#body">Home</a></li>
        <li class="menu-has-children menu-active"><a href="">SBG-RJ</a>
            <ul>
                <li><a href="{% url 'web:about' %}">Sobre</a></li>
                <li><a href="{% url 'web:events' %}">Eventos</a></li>
                <li><a href="{% url 'web:news' %}">Notícias</a></li>
                <li><a href="{% url 'web:products' %}">Produtos</a></li>
            </ul>
        </li>
        <li><a href="{% url 'web:publications' %}">Publicações</a></li>
        <li><a href="{% url 'web:gallery' %}">Galeria</a></li>
        <li><a href="#">Regionais</a></li>
        <li><a href="{% url 'web:contact' %}">Contato</a></li>
    </ul>
</nav><!-- #nav-menu-container -->
{% endblock menu %}


{% block intro %}
<!--==========================
    Intro Section
============================-->
<section id="intro">
  <div class="intro-content">
    <h2>SOCIEDADE BRASILEIRA DE GEOLOGIA – NÚCLEO RIO DE JANEIRO</h2>
    <div class="container">
        <img src="{% static 'img/geology-icon.png' %}" alt="Ícone com símbolo da Geologia"
        title="Ícone com símbolo da Geologia"></img>
    </div>
    <br>
    <h5 class="about-quote">
        "Temos como o principal objetivo fomentar o desenvolvimento e divulgação da
        geociências na sociedade."
    </h5>
    </div>
</section><!-- #intro -->
{% endblock  %}


{% block content %}
<!--==========================
      About Section
    ============================-->
<section id="about" class="wow fadeInUp">
    <div class="container">
        <div class="section-header">
          <h2>A SBG-RJ</h2>
        </div>
        <div class="row">
          <div class="col-lg-6 about-img">
            <p>
              A SBG é uma entidade técnico-científica, sem fins lucrativos, fundada em 1946. Tem
              sede na Rua do Lago, 562, Cidade Universitária USP, São Paulo, SP, e núcleos
              regionais com sedes em Belo Horizonte, Rio de Janeiro, Goiânia, Belém, Recife,
              Salvador, Brasília, Curitiba, Porto Alegre e São Paulo.
              Os núcleos regionais realizam, individualmente ou em parceria com outros núcleos, nos anos ímpares,
              os simpósios de geologia.
            </p>
            <p>
              O Núcleo Rio de Janeiro foi fundado em 1XX. A cada dois anos, nos anos pares, a
              SBG realiza o Congresso Brasileiro de Geologia. Cabe a um dos núcleos realizá-
              lo, por votação dos associados e com o apoio da Sede.
            </p>
            <p>
              Os núcleos regionais realizam, individualmente ou em parceria com outros núcleos, nos anos ímpares,
              os simpósios de geologia.
            </p>
            <div class="container">
                <img src="{% static 'img/montanhas-rio-de-janeiro.jpg' %}" width="100%" 
                alt="Foto das montanhas do Rio de Janeiro com pôr do sol ao fundo."
                title="Pôr do sol no relevo do Rio de Janeiro"></img>
            </div>
            <br>
            <div class="container">
                <img src="{% static 'img/statute.png' %}" alt="Imagem para Download do Estatuto"
                title="Download do estatuto do SBG"></img>
            </div>
        </div>
        <div class="col-lg-6 content">
            <div class="mission-list">
                <p id="misssion-title">
                    Dentro dos temas abrangidos e vinculados à sua missão, a Sociedade terá por fim
                    concretizar os seguintes objetivos, sem a eles limitar-se:
                </p>
                <ul class="mission-bullets">
                    <li class="mission-item">
                        Congregar de forma associativa todos quantos exerçam atividades que concorrem
                        para concretizar sua missão;
                    </li>
                    <li class="mission-item">
                        Realizar periodicamente eventos para promover o encontro de seus associados e,
                        para debater e divulgar as geociências e demais temas de seu objeto, em especial
                        o Congresso Brasileiro de Geologia, de frequência bi-anual;
                   </li>
                    <li class="mission-item">
                        Manter intercâmbio com sociedades nacionais e estrangeiras congêneres;
                    </li>
                    <li class="mission-item">
                        Incentivar e concorrer para o aperfeiçoamento do ensino, do treinamento e da
                        formação profissional e na especialização de cientistas e técnicos;
                    </li>
                    <li class="mission-item">
                        Colher e divulgar informações técnico-científicas de interesse do associado;
                    </li>
                    <li class="mission-item">
                        Manter publicações periódicas e/ou seriadas para a divulgação da produção
                        técnico-científica nacional e do noticiário de interesse da Sociedade;
                    </li>
                    <li class="mission-item">
                        Estimular e promover a edição e distribuição de livros e outros impressos de
                        interesse técnico-científico e didático;
                    </li>
                    <li class="mission-item">
                        Assessorar e colaborar com órgãos públicos e entidades privadas;
                    </li>   
                    <li class="mission-item">
                        Defender a utilização dos recursos minerais e hídricos segundo os princípios do
                        desenvolvimento sustentável.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section><!-- #about -->

{% if directors %}
<!--==========================
      Our Team Section
    ============================-->
<section id="team" class="wow fadeInUp">
    <div class="container">
        <div class="section-header">
            <h2>Diretoria 2019/2020</h2>
        </div>
        <div class="row">
        {% for item in directors %}
        {% if item.started_at.year == current_year %}
            <div class="col-lg-3 col-md-6">
                <div class="member">
                    <div class="details">
                        <h5><strong>{{ item.role }}</strong></h5>
                        <h6>{{ item.first_name }} {{ item.last_name}}</h6>
                        <div class="social">
                            {{ item.email }}
                        </div>
                    </div>
                </div>
            <hr>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</section><!-- #team -->
{% endif %}
<br>

{% if directors_history %}
<!--==========================
      Directors History
    ============================-->
<section id="history" class="wow fadeInUp">
    <div class="container">
        <div class="section-header">
            <h2>Diretorias</h2>
        </div>
        <div class="owl-carousel news-carousel">
        {% for item in directors_history %}
            <div class="history-item">
                <h3>Diretoria {{item.year}}</h3>
                <hr>
                {% for director in item.directors %}
                <h4><strong>{{ director.role }}</strong></h4>
                <span>{{director.first_name}} {{director.last_name}}</span>
                <div class="details">
                    <h4>{{ director.name }}</h4>
                    <h6>{{ director.email }}</h6>
                </div>
                <hr>
                {% endfor %}
            </div>
        {% endfor %}
        </div>
    </div>
</section><!-- #news -->
{% endif %}
    
    <!--==========================
          Membership
        ============================-->
<section id="membership" class="wow fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 text-center text-lg-left">
                <h3 class="cta-title">Torne-se membro</h3>
                <p class="cta-text">
                Faça parte de uma associação científica com mais de 70 anos de história e prestígio internacional
                </p>
            </div>
            <div class="col-lg-3 cta-btn-container text-center">
                <a class="cta-btn align-middle" href="http://www.sbgeo.org.br/">Inscreva-se</a>
            </div>
        </div>
    </div>
<section><!-- #membership -->
<br>
    {% endblock content %}