

{% extends "base.html" %}
{% load static %}

{% block title %}
SBG-RJ &#8211; Ultimos produtos de geologia
{% endblock title %}

{% block menu %}
<!--==========================
   Menu
   ============================-->
<nav id="nav-menu-container">
   <ul class="nav-menu">
      <li><a href="{% url 'web:home' %}">Home</a></li>
      <li class="menu-has-children menu-active">
         <a href="#">SBG-RJ</a>
         <ul>
            <li><a href="{% url 'web:about' %}">Sobre</a></li>
            <li><a href="{% url 'web:events' %}">Eventos</a></li>
            <li><a href="{% url 'web:news' %}">Notícias</a></li>
            <li class="menu-active"><a href="{% url 'web:products' %}">Produtos</a></li>
         </ul>
      </li>
      <li><a href="{% url 'web:publications' %}">Publicações</a></li>
      <li><a href="{% url 'web:gallery' %}">Galeria</a></li>
      <li><a href="{% url 'web:regionals' %}">Regionais</a></li>
      <li><a href="{% url 'web:contact' %}">Contato</a></li>
   </ul>
</nav>
<!-- #nav-menu-container -->
{% endblock menu %}

{% block content %}
<!--==========================
   Product List
   ============================-->
<section id="product-list" class="wow fadeInUp">
   <div class="container">
      <div class="section-header">
         <h2>Produtos</h2>
         <p>Utilize o formulário e faça seu pedido</p>
      </div>
      {% if products %}
      <div class="row">
         {% for item in products %}
         <div class="col-lg-3 col-md-6">
            <div class="product-data">
               <div class="pic">
                  <a href="{% url 'web:products-show' item.slug %}">
                  <img src="{{ item.icon.url }}" alt="Imagem da notícia {{ item.title }}" title="{{ item.title }}">
                  </a>
               </div>
               <div class="details">
                  <h4>{{ item.name }}</h4>
                  <span>Associado: R$ {{ item.price_associated }}</span>
                  <span>Não associado: R$ {{ item.price_non_associated }}</span>
                  <div class="know-more">
                     <a href="{% url 'web:products-show' item.slug %}">Ver detalhes<i class="fa fa-question-circle"></i></a>
                  </div>
               </div>
            </div>
         </div>
         {% endfor %}
      </div>
      <div class="row">
         <div class="col-lg-12 col-md-6">
            <!--==========================
               Order Section
               ============================-->
            <section id="order" class="wow fadeInUp">
               <div class="container">
                  <div class="section-header">
                     <h2>Faça seu pedido</h2>
                  </div>
                  <div class="form">
                     {% if message == True  %}
                     <div id="sendmessage">Obrigado pelo pedido. Retornaremos o mais breve possível.</div>
                     {% elif message == False  %}
                     <div id="errormessage">Favor, preencher um email válido.</div>
                     {% endif %}
                     <form action="" method="post" role="form" class="orderForm">
                        {% csrf_token %}
                        <div class="form-row">
                           <div class="form-group col-md-6">
                              {{ form.name }}
                           </div>
                           <div class="form-group col-md-6">
                              {{ form.email }}
                           </div>
                        </div>
                        <div class="form-group">
                           {{ form.description }}
                        </div>
                        <div class="text-center">
                           <button type="submit">Enviar pedido</button>
                        </div>
                     </form>
                  </div>
               </div>
            </section>
            <!-- #order -->
         </div>
      </div>
      {% else %}
      <div class="row">
         <div class="col-lg-12 col-md-6">
            <div class="product-not-found">
               <div class="details">
                  <h4>Desculpe, não temos nenhum produto disponível no momento!</h4>
               </div>
            </div>
         </div>
      </div>
      {% endif %}
   </div>
</section>
<!-- #product -->
{% endblock content %}

