

{% extends "base.html" %}
{% load static %}

{% block title %}
SBG-RJ &#8211; Núcleos regionais
{% endblock title %}

{% block menu %}
<!--==========================
   Menu
   ============================-->
<nav id="nav-menu-container">
   <ul class="nav-menu">
      <li><a href="{% url 'web:home' %}">Home</a></li>
      <li class="menu-has-children">
         <a href="#">SBG-RJ</a>
         <ul>
            <li><a href="{% url 'web:about' %}">Sobre</a></li>
            <li><a href="{% url 'web:events' %}">Eventos</a></li>
            <li><a href="{% url 'web:news' %}">Notícias</a></li>
            <li><a href="{% url 'web:products' %}">Produtos</a></li>
         </ul>
      </li>
      <li><a href="{% url 'web:publications' %}">Publicações</a></li>
      <li><a href="{% url 'web:gallery' %}">Galeria</a></li>
      <li class="menu-active"><a href="{% url 'web:regionals' %}">Regionais</a></li>
      <li><a href="{% url 'web:contact' %}">Contato</a></li>
   </ul>
</nav>
<!-- #nav-menu-container -->
{% endblock menu %}

{% block content %}
<!--==========================
   Regionals Section
   ============================-->
<br>
<section id="regionals-list" class="wow fadeInUp">
   <div class="container">
      <div class="section-header">
         <h2>Regionais SBG</h2>
      </div>
      <div class="row">
         <div class="col-lg-4">
            <div class="regionals-data">
               <div class="details">
                  <h5>SBG-BA (Regimento Bahia e Sergipe)</h5>
                  <ul>
                  <li><b>IG/UFBA</b></li>
                  <li><a href="https://goo.gl/maps/7D3R9YEmfLouhJ347">R. Caetano Moura, 123 – Federação 40210-340 – Salvador – BA</a></li>
                  <li><a href="tel:+557132356789">(71) 3235-6789</a></li>
                  <li><a href="http://www.geocities.com/sbg_bahia">http://www.geocities.com/sbg_bahia</a></li>
                  <li><a href="mailto:sbgbase@gmail.com">sbgbase@gmail.com</a></li>
                  <li>Abrangência: BA - SE</li>
                  </p>
               </div>
            </div>
         </div>
         <div class="col-lg-4">
            <div class="regionals-data">
               <div class="details">
                  <h5>SBG-BR</h5>
                  <ul>
                     <li><b>UNB</b></li>
                     <li><a href="https://goo.gl/maps/GqrZXfUiNWW2A7re6">Campus Darcy Ribeiro Instituto de Geociências Sala A1 – 363/10, Asa Norte 70919-900 – Brasília – DF</a></li>
                     <li>
                        <a href="tel:+556132744533">
                           (61) 3274-4533
                     </li>
                     <li><a href="http://www.unb.br/ig/sbg">http://www.unb.br/ig/sbg</a></li>
                     <li><a href="mailto:sbg@unb.br">sbg@unb.br</a></li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="col-lg-4">
            <div class="regionals-data">
               <div class="details">
                  <h5>SBG-CO</h5>
                  <ul>
                     <li><b>UFMT</b></li>
                     <li><a href="https://goo.gl/maps/7Y2rNnXx7qtPCPB49">ICET Geologia, Av. Fernando Corrêa, S/N – Coxipó 78060-900 – Cuiabá – MT</a></li>
                     <li><a href="tel:+5565361587548758">(65) 3615-8754/8758</a></li>
                     <li>Abrangênica: GO – MT - MS - TO</li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="col-lg-4">
            <div class="regionals-data">
               <div class="details">
                  <h5>SBG-NE</h5>
                  <ul>
                     <li><b>UFRN</b></li>
                     <li><a href="https://goo.gl/maps/nQ2C4wDK5ScQRheP7">Campus Universitário UFRN, Av. Sen. Salgado Filho, 3000 - Lagoa Nova, Natal - RN, 59064-741</a></li>
                     <li>Caixa Postal 1639 59078-970</li>
                     <li><a href="tel:+558432119616">(84) 3211-9616</a></li>
                     <li>Abrangência: AL – CE – PB – PE – PI - RN </li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="col-lg-4">
            <div class="regionals-data">
               <div class="details">
                  <h5>SBG-NO</h5>
                  <ul>
                     <li><b>CPRM</b></li>
                     <li><a href="https://goo.gl/maps/8FTcKtUoxZPpm4AH8">Av. Perimetral, 3645 - Marco, Belém - PA, 66095-904</a></li>
                     <li>
                        <a href="tel:+559132468577">
                           (91) 3246-8577
                     </li>
                     <li><a href="tel:+559132762526">(91) 3276-2526</li>
                     <li><a href="mailto:sbgno2@bol.com.br">sbgno2@bol.com.br</a></li>
                     <li>Abrangência:AC – AP – AM – MA – PA – RO - RR</li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="col-lg-4">
            <div class="regionals-data">
               <div class="details">
                  <h5>SBG-PR</h5>
                  <ul>
                     <li><a href="https://goo.gl/maps/8gCaEaT1QkHoGrqL7">Centro Politécnico 81531-990 – Curitiba – PR</a></li>
                     <li>Caixa Postal 1902</li>
                     <li><a href="tel:+554133613694">(41) 3361-3694</a></li>
                     <li><a href="mailto:sbg-pr@geologia.ufpr.br">sbg-pr@geologia.ufpr.br</a></li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="col-lg-4">
            <div class="regionals-data">
               <div class="details">
                  <h5>SBG-MG</h5>
                  <ul>
                     <li><a href="https://goo.gl/maps/EYML6GntSpHFNgkm9">Rua Aimorés, 562 / Sl. 105 - 30140-070 – BH/MG</a></li>
                     <li><a href="tel:+553132244097">(31) 3224-4097</a></li>
                     <li><a href="http://sbg-mg.org.br">http://sbg-mg.org.br</a></li>
                     <li><a href="mailto:sbg@unb.br">sbg@unb.br</a></li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="col-lg-4">
            <div class="regionals-data">
               <div class="details">
                  <h5>SBG-RS</h5>
                  <ul>
                     <li><b>IG/UFRGS</b></li>
                     <li><a href="https://goo.gl/maps/C9MgV33hh5jUpxjM9">Av. Bento Gonçalves, 9500 91540-000, Porto Alegre – RS</a></li>
                     <li>Caixa Postal 15006 – 91501-970</li>
                     <li><a href="tel:+555133166360">(51) 3316-6360</a></li>
                     <li><a href="tel:+555133166360">(51) 3316-6360</a></li>
                     <li>Abrangência: RS - SC</li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="col-lg-4">
            <div class="regionals-data">
               <div class="details">
                  <h5>SBG-SP</h5>
                  <ul>
                     <li><a href="https://goo.gl/maps/bpofJF65wwUYFEUB6">Rua do Lago, 549 – Cidade Universitária 05508-080 – São Paulo</a></li>
                     <li><a href="tel:+551935262809">(19) 3526-2809</a></li>
                     <li><a href="http://petro.rc.unesp.br/sbgnsp">http://petro.rc.unesp.br/sbgnsp</a></li>
                     <li><a href="mailto:sbg@unb.br">sbg@unb.br</a></li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- #regionals -->
<!--==========================
   Regionals Section
   ============================-->
<section id="regionals-list" class="wow fadeInUp">
   <div class="container">
      <div class="section-header">
         <h2>Referências</h2>
      </div>
      <div class="row">
         <div class="col-lg-3 references">
            <div class="regionals-data">
               <div class="details">
                  <h5>Universidade Federal do Rio de Janeiro</h5>
                  <p>
                     Departamento de Geologia
                     <br/>
                     <a href="http://www.geologia.ufrj.br">http://www.geologia.ufrj.br</a> 
                  </p>
               </div>
            </div>
         </div>
         <div class="col-lg-3 references">
            <div class="regionals-data">
               <div class="details">
                  <h5>Universidade Federal do Espírito Santo</h5>
                  <p>
                     Departamento de Geologia
                     <br/>
                     <a href="http://www.geologia.ufes.br/">http://www.geologia.ufes.br/</a>
                  </p>
               </div>
            </div>
         </div>
         <div class="col-lg-3 references">
            <div class="regionals-data">
               <div class="details">
                  <h5>Universiade Federal Rural do Rio de Janeiro</h5>
                  <p>
                     Dep. de Geociências
                     <br/>
                     <a href="http://r1.ufrrj.br/degeo/">http://r1.ufrrj.br/degeo/</a>
                  </p>
               </div>
            </div>
         </div>
         <div class="col-lg-3">
            <div class="regionals-data">
               <div class="details">
                  <h5>Universidade do Estado do Rio de Janeiro</h5>
                  <p>
                     Faculdade de Geologia
                     <br/>
                     <a href="http://www.fgel.uerj.br/site/">http://www.fgel.uerj.br/site/</a>
                  </p>
               </div>
            </div>
         </div>
      </div>
      <div class='row'>
         <div class="col-lg-3">
               <div class='regionals-data'>
                     <div class="details">
                        <h5>Universidade Estadual do Norte Fluminense</h5>
                        <p>
                           Laboratório de Engenharia e Exploração de Petróleo
                        </p>
                     <a href="http://uenf.br/cct/lenep/">http://uenf.br/cct/lenep/</a>
                     </div>
               </div>
         </div>
         <div class="col-lg-3">
               <div class='regionals-data'>
                  <div class="details">
                     <h5>Universidade Federal Fluminense</h5>
                        <p>
                           Departamento de Geologia e Geofísica 
                        </p>
                     <a href="http://www.geofisica.uff.br/">http://www.geofisica.uff.br/</a>
                  </div>
               </div>
            </div>
            <div class="col-lg-3">
                  <div class='regionals-data'>
                     <div class="details">
                        <h5>Universidade de Vila Velha</h5>
                           <p>
                              Faculdade de Geologia
                           </p>
                        <a href="http://www.uvv.br">http://www.uvv.br</a>
                        </br>
                     </br>
                     </div>
                  </div>
               </div>
      </div>
   </div>
</section>
<!-- #about -->

<!--==========================
   Promotion Section
   ============================-->
<section id="promotion" class="wow fadeInUp">
   <div class="container">
      <div class="row">
         <div class="col-lg-12">
            <a href="http://www.sbgeo.org.br/"><img src="{% static 'img/membership.png' %}" alt="Imagem de propaganda, torne-se membro" title="Torne-se membro e ganhe descontos"/></a>
         </div>
      </div>
   </div>
</section>
<!-- #promotion -->
{% endblock content %}

